{% extends 'inventory/base.html' %} 
{% load crispy_forms_tags %} 
{% block content %} 
    <div class="row">
      <div class="col-11 col-md-4 mx-auto mt-5">
        <h1 class="text-warning">SignUp</h1>
        {% if form.error %} 
            {% for field in form %} 
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{error|escape}}</strong>
                </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{error|escape}}</strong>
                </div>
            {% endfor %}
        {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button class="btn btn-primary" type="submit">SignUp</button>
    </form>
    <div class="pt-3">
      <small class="text-muted"><i class="text-warning">Need an account?</i><a href="{% url 'signup' %}" class="ml-2">SignUp</a></small>
    </div>
      </div>
    </div>
{% endblock %}
